<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <style>
        p.question {
            font-weight: bold;
        }
    </style>
  </head>
  <body class="container">
    <h2><small>Colorado Libraries Share Symposium</small><br>
    Collaborative Technology Projects Panel</h2>
    <h1>Colorado/Wyoming DP.LA Service Hub</h1>
    <ol class="lead">
        <li><p class="question">What was your goal for this project?</p>
          <p>The goal of this project is to create a cost-effective and flexible <a href="https://dp.la">DP.LA</a> service hub for 
          Colorado and Wyoming. The Digital Public Library of America is non-profit that provides a central web site for discovering 
          and accessing freely available material and resources contained in libraries, archives, and museums in North America.
          DP.LA service hub aggregates metadata and links from libraries and museums in a geographical region to be included in DP.LA 
          primary search portal.</p>
          <p class="question">&hellip; and why do you feel that the solution you chose was the best way to reach that goal?</p> 
          <p>

          </p>
        </li>
        <li>What surprised you about the process of developing your technology solution?</li>
        <li>What's next for your project? Ex.: Phase 2</li>
        <li>What advice can you give other libraries who are considering taking part in a collaborative technology project?</li>
    </ol>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  </body>
</html>

